/TrueMoney/TrueMoney.Web/bin
/TrueMoney/TrueMoney.Web/App_Data
/TrueMoney/packages
/TrueMoney/.vs
/TrueMoney/TrueMoney.Web/obj
TrueMoney/TrueMoney.Data/obj/
TrueMoney/TrueMoney.Infrastructure/obj/
TrueMoney/TrueMoney.Services/obj/
/TrueMoney/TrueMoney.Infrastructure/bin/Debug
/TrueMoney/TrueMoney.Data/bin/Debug
/TrueMoney/TrueMoney.Services/bin/Debug
