/TrueMoney/TrueMoney.Web/bin
/TrueMoney/TrueMoney.Web/App_Data
/TrueMoney/packages
/TrueMoney/.vs
/TrueMoney/TrueMoney.Web/obj
TrueMoney/TrueMoney.Data/obj/
TrueMoney/TrueMoney.Infrastructure/obj/
TrueMoney/TrueMoney.Services/obj/
/TrueMoney/TrueMoney.Data/bin
/TrueMoney/TrueMoney.Infrastructure/bin
/TrueMoney/TrueMoney.Services/bin
/TrueMoney/Bank/obj/
/TrueMoney/Bank/bin/
TrueMoney/TrueMoney.Mapping/bin/
TrueMoney/TrueMoney.Mapping/obj/
/TrueMoney/TrueMoney.DependencyInjection/obj
/TrueMoney/TrueMoney.DependencyInjection/bin
/TrueMoney/ForTesting/bin
/TrueMoney/ForTesting/obj
/TrueMoney/TrueMoney.Models/bin
/TrueMoney/TrueMoney.Models/obj
/TrueMoney/TrueMoney.Common/bin
/TrueMoney/TrueMoney.Common/obj
/TrueMoney/TrueMoney.Tests/bin
/TrueMoney/TrueMoney.Tests/obj
/TrueMoney/TrueMoney.Web/Logs
/TrueMoney/BankData.xml
