@{
    ViewBag.Title = "О сервисе";
}

<h2>@ViewBag.Title</h2>

<hr />

<p>Это всё легально!</p>
<strong>Но...</strong>
<p>В России нет отдельного регулирования, под которое бы попадало P2P-кредитование. 
    Однако, систематическое предоставление займов по российским законом считается предпринимательской деятельностью и требует регистрации в качестве индивидуального предпринимателя.</p>
<p>
    В свою очередь если гражданин занимается предпринимательской деятельностью, то он должен быть зарегистрирован в качестве индивидуального предпринимателя. 
    Осуществление предпринимательской деятельности в отсутствие такой регистрации может повлечь за собой административную и даже уголовную ответственность.
</p>
<hr />

<h3>Часто задаваемые вопросы</h3>

<ol id="contents">
    <li><a href="#rating">Рейтинг</a></li>
    <li><a href="#question1">Я зарегистрировался, но не могу создать заявку. Что делать?</a></li>
    <li><a href="#question2">Я сделал предложение по заявке. Как долго мне ждать и что делать дальше?</a></li>
    <li><a href="#question3">Можно ли взять два займа одновременно?</a></li>
    <li><a href="#question4">Сколько заявок я могу сделать?</a></li>
    <li><a href="#question5">Как это работает?</a></li>
    <li><a href="#question6">Чем онлайн-сервис TrueMoney отличается от банков, выдающих кредит?</a></li>
</ol>

<div id="rating" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Что такое рейтинг заемщика и как он определяется?</h4>
    </div>
    <div class="panel-body">
        <p>Рейтинг показывает «степень надежности» каждого пользователя системы.</p>
        <p>Каждый новый пользователь получает рейтинг 0. После активации он становится 1.</p>
        <p>По мере пользования сервисом рейтинг будет увеличиваться или уменьшаться в зависимости от действий пользователя.</p>
        <p>Влияние на рейтинг имеют следущие факторы:</p>
        <ul>
            <li>успешное завершение займа <strong>+5</strong></li>
            <li>все выплаты по займу совершены заранее <strong>+2</strong></li>
            <li>отмена подтверждения (заемодавец) <strong>-2</strong></li>
            <li>просрочка платежа <strong>-2</strong></li>
        </ul>
    </div>
</div>
<hr/>
<div id="question1" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Я зарегистрировался, но не могу создать заявку. Что делать?</h4>
    </div>
    <div class="panel-body">
        <p>Надо немного подождать пока Администратор не проверит Ваши паспортные данные.</p>
    </div>
</div>
<div id="question2" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Я сделал предложение по заявке. Как долго мне ждать и что делать дальше?</h4>
    </div>
    <div class="panel-body">
        <p>Владелец заявки получает несколько заявок и выбирает одну из них. Если будет выбрана именно Ваша заявка, Вы увидите и будете должны подтвердить выдачу займа.</p>
    </div>
</div>
<div id="question3" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Можно ли взять два займа одновременно?</h4>
    </div>
    <div class="panel-body">
        <p>Нет.</p>
    </div>
</div>
<div id="question4" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Сколько заявок я могу сделать?</h4>
    </div>
    <div class="panel-body">
        <p>Сколько угодно, но не закрытая заявка у Вас может быть только одна.</p>
    </div>
</div>
<div id="question5" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Как это работает?</h4>
    </div>
    <div class="panel-body">
        <p>Пользователи регистрируются на сайте. Каждый проходит проверку, аналогичную банковской, и при получении одобрения,
            пользователь допускается для работы в сервисе. Заемщики могут либо разместить свою заявку, указав в ней сумму, срок и ставку займа. 
        Кредиторы могут акцептовать заявку заемщика. В случае согласия обеих сторон, кредитор и заемщик заключают сделку. </p>
    </div>
</div>
<div id="question6" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Чем онлайн-сервис TrueMoney отличается от банков, выдающих кредит?</h4>
    </div>
    <div class="panel-body">
        <p>Банки аккумулируют вклады и выдают кредиты. Мы работаем по другому принципу, позволяя выдавать и брать займы кредиторам и заемщикам напрямую, исключая банковский доход.</p>
    </div>
</div>

@section Scripts {
    <script>
        function highlightAnchor() {
            var id = location.hash.substr(1); //Get the word after the hash from the url
            if (id) {
                $(".panel-success").removeClass("panel-success").addClass("panel-default");
                $('#' + id).removeClass('panel-default').addClass('panel-success');
            }
        }

        $(document).ready(highlightAnchor);
        window.onhashchange = highlightAnchor;
    </script>
}