@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>True Money - надёжно и просто!</h1>
    <p class="lead">Революция в мире FinTech!</p>
    <p class="lead">Теперь не нужно идти в банк за кредитом чтобы взять денег на пару недель, возьми их в долг не выходя из дома!</p>
    <p class="lead">Есть свободные деньги? Одолжи кому-нибудь и заработай!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Дать в долг</h2>
        <p>Скопилось много денег, которые некуда деть?</p>
        <p>Инфляция съедает рубли, которые лежат под матрасом?</p>
        <p>Хочешь немного заработать ничего не делая?</p>
        <p>Почувствуй себя мини-банком и дай их кому-нибудь в долг под проценты!</p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "Deal")">Просмотреть заявки на займ &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Взять в долг</h2>
        <p>Не хватает денег, чтобы купить микроволновку?</p>
        <p>До стипендии ещё неделя, а сетку в общаге нужно оплатить уже сегодня?</p>
        <p>Друзья такие же нищеброды без денег?</p>
        <p>Найди друзей с баблецом у нас на сайте!</p>
        <p><a class="btn btn-primary" href="@Url.Action("Create", "Deal")">Подать заявку &raquo;</a></p>
    </div>
</div>