@model TrueMoney.Models.VisaPaymentViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Success</h2>
<p> you paid @Model.PaymentCount in context
    @Model.PaymentName</p>

@Html.ActionLink("Детали займa", "Details", "Deal", routeValues: new { id = Model.DealId }, htmlAttributes: null)