@model TrueMoney.Models.VisaPaymentViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

<h4>@Model.PaymentName</h4>
<h5>Платёж завершён</h5>
<p>Вы перевели @Model.PaymentCount рублей заёмщику.</p>

@Html.ActionLink("Детали займa", "Details", "Deal", routeValues: new { id = Model.DealId }, htmlAttributes: null)