@using TrueMoney.Models.Basic
@using TrueMoney.Common.Enums
@using TrueMoney.Models.User
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>
<div>
    @Html.ActionLink("Редактировать личные данные", "Edit", new { id = User.Identity.GetUserId<int>() }, new { @class = "btn btn-primary" })
</div>
<br />
<div>
    @Html.ActionLink("Редактировать паспортные данные", "EditPassport", new { userId = User.Identity.GetUserId<int>() }, new { @class = "btn btn-primary" })
</div>
<br />
<div>
    @Html.ActionLink("Информация о займах", "UserActivity", null, new { @class = "btn btn-primary" })
</div>
<br />
