@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}

<h1 class="text-danger">Аккаунт заблокирован</h1>
<h2 class="text-danger">Введен неправильный пароль несколько раз</h2>
<p>
    Ваш аккаунт заблокирован, но это не навсегда.
    <br/>Придётся немного подождать, он автоматически разблокируется через какое-то время, а пока сходите попейте чай.
</p>