@{
    ViewBag.Title = "404 - Не найдено";
}

<h1 class="text-danger">Ошибка 404</h1>
<h2 class="text-danger">Здесь ничего нету</h2>
<p>Если вы уверены, что здесь что-то должно быть - свяжитесь с нами и всё будет</p>

@Html.Partial("_ExceptionInfo")