@{
    ViewBag.Title = "500 - Ошибка сервера";
}

<h1 class="text-danger">Ошибка 500</h1>
<h2 class="text-danger">Проблема на стороне сервера</h2>
<p>
    Что-то пошло не так, но мы уже знаем об этом. <br/>
    Это не ваша вина. Попробуйте перезагрузить страницу, вдруг поможет
</p>

@Html.Partial("_ExceptionInfo")