@{
    ViewBag.Title = "666 - Всё очень плохо";
}

<h1 class="text-danger">Ошибка 666</h1>
<h2 class="text-danger">Всё очень плохо</h2>
<p>
    Случилась ошибка, которую мы совсем никак не ожидали. <br/>
    Мы уже про неё знаем, и мы разберёмся в чём тут дело. <br />
    Если это что-то срочное, то свяжитесь с нами.
</p>

@Html.Partial("_ExceptionInfo")