@model TrueMoney.Web.Models.VisaPaymentViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Success</h2>
<p> you paid @Model.PaymentCount to @Model.DesctinationAccountNumber in context 
    @Model.PaymentName</p>